#particles-js {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

h3 {color: red;}
p {color: red;}
label {color:red;}

.abso{
    position: absolute;
}