::placeholder {
  text-align: center;
  font-size: 20px;
  color: white;
  
}

.search {
  width: 400px;
  height: 100px;
  border-radius: 3px;
}
body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}







form {
    display: flex;
    justify-content: center;
  
}



